[Unit]
Description=Monitor your Splatoon 3 battles with s3s

[Service]
ExecStart=sh -c "yes | /usr/bin/s3s -M 300 -r"
StandardOutput=inherit
StandardError=inherit
RuntimeMaxSec=3600s
Restart=always

[Install]
WantedBy=default.target

 
